<div class="row p-5 justify-content-around">

    @for (pokemon of listaPokemon; track $index) {

        <div class="card col-12 col-xl-3 border-danger bg-dark text-white shadow-lg">

            <div class="carta">
                <img class="card-img-top mx-2 my-3 w-50" [src]="getImage(pokemon)" alt="Pokemon img" />
                <div class="card-body">
                    <h4 class="card-title text-center">{{capitalizeFirstLetter(pokemon.name)}}</h4>
                    <h6 class="text-center">Nº{{$index + 1}}</h6>
                </div>

                <div class="text-center mb-5">
                    <button class="btn btn-danger" (click)="openModal(pokemon.url, $index + 1)">Ver más</button>
                </div>
            </div>
        
        </div>
    }

</div>
