<div class="modalT d-flex ">

    <img [src]="getImage()" class="imgModal"/>
    <div class="m-3">
        <h3>{{pokemon.name}}</h3>
        <p>
            <strong>Abilities</strong>: 
            @for (ability of pokemon.abilities; track $index) {
                {{ability.ability.name}}
            }
        </p>
        <p>
            <strong>Tyoes</strong>:
            @for (type of pokemon.types; track $index) {

                {{type.type.name}}
            }
        </p>
        <p>
            <strong>Descripción</strong>:
            
        </p>
    </div>
</div>
