<div class="row p-5 justify-content-around">
    
    @for (mt of mtList; track $index) {

        <div class="card col-12 col-xl-2 my-3 border-danger">

            <div class="carta">
                <img class="card-img-top mx-2 my-3 w-50" [src]="mt.itemRes.sprites.default" alt="Item img" />
                <h6 class="text-center">Nº{{$index + 1}}</h6>

                <div class="card-body">

                    <h4 class="card-title text-center">{{capitalizeFirstLetter(mt.itemRes.name)}}</h4>

                    <p>
                        Move: {{mt.moveRes.name}}
                        Type: {{mt.moveRes.type.name}}
                    </p>

                    <p>
                        Learned by: 
                        @for (pokemon of mt.moveRes.learned_by_pokemon; track $index) {
                            {{pokemon.name}}
                        }
                    </p>
                </div>

                <div class="text-center mb-5">

                
                </div>
            </div>
        </div>
    }
</div>