<nav class="navbar navbar-expand-lg ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">POKEDEX</a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav d-flex">
                    <div class="cajita d-flex border border-danger p-1">
                        <a class="nav-link" routerLink="/pokemons" routerLinkActive="active">
                            Pokemons
                            </a>
                        <img class="gifts" src="pikachu-sprite.gif">
                    </div>
                    <div class="cajita d-flex border border-danger p-1">
                        <a class="nav-link" routerLink="/items" routerLinkActive="active">
                            Items
                            </a>
                        <img class="gifts mt-1" src="potion.png">
                    </div>
                    <div class="cajita d-flex border border-danger p-1">
                        <a class="nav-link" routerLink="/mts" routerLinkActive="active">
                            MTs
                            </a>
                        <img class="gifts mt-1" src="tm-normal.png">
                    </div>
                </div>
       </div>
    </div>
</nav>
<img class="imagenPokeballMenu" src="Poké_Ball_icon.svg.png">
