<div class="modalT d-flex">

    <img class="imgModal" [src]="mt.itemRes.sprites.default" />

    <div class="m-3">

        <h3>{{capitalizeFirstLetter(move.name)}}</h3>

        <p>
            <strong>Description</strong>: {{move.flavor_text_entries[0].flavor_text}}
        </p>
        
        <p>
            <strong>Move type: </strong>
        </p>
        <div class="colorTipo m-1 pe-2 ps-2 text-light w-50 text-center" [style]="getTypeColor(move.type.name)">
            {{capitalizeFirstLetter(move.type.name)}}
        </div>
    </div>
</div>