<div class="row p-5 justify-content-around">
    
    @for (item of itemList; track $index) {

        <div class="card col-12 col-xl-2 my-3 border-danger">

            <div class="carta">
                <img class="card-img-top mx-2 my-3 w-50" [src]="getImage(item)" alt="Item img" />
                <h6 class="text-center">Nº{{$index + 1}}</h6>

                <div class="card-body">

                    <h4 class="card-title text-center">{{capitalizeFirstLetter(item.name)}}</h4>
                </div>

                <div class="text-center mb-5">

                    <button class="btn btn-info" (click)="openModal(item.url)">Ver más</button>
                </div>
            </div>
        </div>
    }
</div>